<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>IzzyAI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Izzy AI needs access to Camera. </string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Izzy AI needs access to Microphone in order to record your voice.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Text-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Black.ttf</string>
		<string>SF-Pro-Display-BlackItalic.ttf</string>
		<string>SF-Pro-Display-Bold.ttf</string>
		<string>SF-Pro-Display-BoldItalic.ttf</string>
		<string>SF-Pro-Display-Heavy.ttf</string>
		<string>SF-Pro-Display-HeavyItalic.ttf</string>
		<string>SF-Pro-Display-Light.ttf</string>
		<string>SF-Pro-Display-LightItalic.ttf</string>
		<string>SF-Pro-Display-Medium.ttf</string>
		<string>SF-Pro-Display-MediumItalic.ttf</string>
		<string>SF-Pro-Display-Regular.ttf</string>
		<string>SF-Pro-Display-Semibold.ttf</string>
		<string>SF-Pro-Display-SemiboldItalic.ttf</string>
		<string>SF-Pro-Display-Thin.ttf</string>
		<string>SF-Pro-Display-ThinItalic.ttf</string>
		<string>SF-Pro-Display-Ultralight.ttf</string>
		<string>SF-Pro-Display-UltralightItalic.ttf</string>
		<string>sf-pro-text-bold.ttf</string>
		<string>SF-Pro-Text-BoldItalic.ttf</string>
		<string>sf-pro-text-heavy.ttf</string>
		<string>SF-Pro-Text-HeavyItalic.ttf</string>
		<string>sf-pro-text-light.ttf</string>
		<string>SF-Pro-Text-LightItalic.ttf</string>
		<string>sf-pro-text-medium.ttf</string>
		<string>SF-Pro-Text-MediumItalic.ttf</string>
		<string>sf-pro-text-regular.ttf</string>
		<string>SF-Pro-Text-RegularItalic.ttf</string>
		<string>sf-pro-text-semibold.ttf</string>
		<string>SF-Pro-Text-SemiboldItalic.ttf</string>
	</array>
</dict>
</plist>
